<form class="form-signin card">
  <div class="card-title">
    <h1 class="h3 mb-3 font-weight-normal">{{messages.title}}</h1>
  </div>

  <div *ngIf="isSignup" class="form-group">
    <label for="inputName">Username</label>
    <input type="email" id="inputName" class="form-control" placeholder="Username" [(ngModel)]=name name="name" required autofocus>
  </div>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" [(ngModel)]=email name="email" required>
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]=password name="password" required>
  </div>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>

  <div *ngIf="isSignup; else loginBtn">
    <button class="btn btn-md btn-primary btn-block" type="button" (click)="signup()">{{messages.button}}</button>
  </div>
  <ng-template #loginBtn>
    <button class="btn btn-md btn-primary btn-block" type="button" (click)="login()">{{messages.button}}</button>
  </ng-template>

</form>
